<html>
<header>
<title>Ahorcado!!!</title>
</header>
<body>
<div><h1>Ahorcado</h1></div>
<div><label style="font-size:30px" id="word"><%= @word %></label></div>
<br />
<form action="/guess" method="post" id="guess">
<input type="text" maxlength="1" id="letterValue" name="letterValue" />
<input type="submit" value="Adivina!" />
<%= @resultado %>
</form>
</body>
</html>
